
.shoe-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
  margin:10px 0px;
  background-color: hsl(0, 23%, 97%);
}


.shoe-page {
  
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding-TOP: 5Px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.shoe-page:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.shoe-page img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}


.shoe-page h2 {
  font-size: 16px;
  color: #0c0b0b;
  margin: 10px 0;
  height: 40px;
  overflow: hidden;
}


.shoe-page p {
  font-size: 18px;
  font-weight: bold;
  color: #1f4d43;
  margin: 8px 0;
}


@media (max-width: 600px) {
  .shoe-page-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 15px;
    gap: 15px;
    margin: 5px;
  }

  .shoe-page {
    padding-top: 10px; 
  }

  .shoe-page img {
    height: 140px; 
  }

  .shoe-page h2 {
    font-size: 14px;
    height: auto;
  }

  .shoe-page p {
    font-size: 16px;
  }
}
