
.men-page-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 30px;
  margin:10px 0px;
  background-color: #864848;
  
}


.men-page {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.men-page:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}


.men-page img {
  max-width: 100%;
  height: 180px;
  object-fit: contain;
  margin-bottom: 10px;
}




.men-page h2 {
  font-size: 16px;
  color: #333;
  margin: 10px 0;
  height: 40px;
  overflow: hidden;
}


.men-page p {
  font-size: 18px;
  font-weight: bold;
  color: #1a8917;
  margin: 8px 0;
}

@media (max-width: 600px) {
  .men-page-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    padding: 15px;
    gap: 15px;
    margin: 5px;
  }

  .men-page {
    padding: 10px;
  }

  .men-page img {
    height: 140px; 
  }

  .men-page h2 {
    font-size: 14px;
    height: auto;
  }

  .men-page p {
    font-size: 16px;
  }
}
